* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c54b6;
}

.email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  background-color: white;
  border-radius: 9px;
}

.email #title {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email #title span {
  color: orange;
}

.email .navbar {
  background-color: #d55f26;
  width: 100%;
}

.email .navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.email .navbar ul li {
  padding: 10px 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #f7b99e;
  font-family: Arial, serif;
}

.email .image {
  width: 100%;
}

.email .image img {
  max-width: 100%;
}

.email .body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 57px;
}

.email .body-content > span,
.email .body-content p,
.email .body-content h1 {
  padding: 8px 0;
}

.email .body-content span,
.email .body-content p {
  color: #c7c7c7;
}

.email .body-content h1 {
  font-size: 30px;
}

.email .body-content p {
  text-align: center;
}

.email .upcoming-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dfe7fa;
  border-top-right-radius: 60px;
  position: relative;
}

.email .upcoming-events:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-width: 40px 39px 0px;
  border-style: solid;
  border-color: #dfe7fa transparent;
  display: block;
}

.email .upcoming-events .event-lists {
  margin-top: 10px;
}

.email .upcoming-events .event-lists .eventlist {
  border-bottom: 0.1rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.email .upcoming-events .event-lists .eventlist > .date,
.email .upcoming-events .event-lists .eventlist .event-content {
  padding: 0 10px;
}

.email .upcoming-events .event-lists .eventlist .date .day {
  font-size: 30px;
  color: #174097;
}

.email .upcoming-events .event-lists .eventlist .date .month {
  font-size: 12px;
  color: #8f98a9;
  margin-bottom: 10px;
}

.email .upcoming-events .event-lists .eventlist .event-content {
  width: 60%;
}

.email .upcoming-events .event-lists .eventlist .event-content .headline {
  font-weight: bold;
  font-family: Arial, serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.email .upcoming-events .event-lists .eventlist .event-content p {
  font-family: Arial, serif;
  font-size: 12px;
  color: #b3bacc;
}

.email .upcoming-events .event-lists .eventlist:first-child {
  padding-top: 12px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  color: #ccc;
}

.btn {
  border: 0;
  outline: 0;
  padding: 10px 25px;
  border-radius: 18px;
  font-size: 12px;
}

.btn.orange-btn {
  background-color: #d55f26;
  color: white;
}

.btn.btn-outline {
  border: 1px solid #174097;
  color: #174097;
  background: transparent;
}
/*# sourceMappingURL=email.css.map */